<div class="page" data-name="homepages">
  
	<div class="navbar">
            <div class="navbar-inner sliding">
                <a href="" data panel="left" onclick="showMenu()">
                    <i class="demo-icon icon-menu">&#xf0c9;</i>
                </a>
              <div class="title">MPlay</div>
                <a href="/search/">
                    <i class="demo-icon icon-search-1">&#xe801;</i>
                </a>
            </div>
	</div>
<div class="page-content ptr-content">
    <div class="ptr-preloader">
    <div class="preloader"></div>
    <div class="ptr-arrow"></div>
</div>

    <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="50" class="swiper-container swiper-init" data-autoplay="true" data-speed="1000" data-loop="true">
  <div class="swiper-pagination"></div>

 <div class="swiper-wrapper"id="swiper-wrapper">
   <!-- <div class="swiper-slide">
        <img src="../img/images/slider2.jpg" class="slide">
        <div class="texto01">
        <b>Funny action of the players in the history of the football</b>
        </div>
        <div class="texto02"> 10 hours ago</div>
        <button class="play"> Play now</button>
    </div>-->
   
  </div>
</div>
<div class="block content">
    <div class="row" id="content-videos">
        <!--<div class="personas">
                <img src="../img/images/post4.jpg" class="img">
                <div class="time">10:05</div>
                <div class="texto3"><b>The parade dancers along the city streets</b></div>
                <div class="texto4"> 
                    John Doe
                </div>
                <div class="texto5"> 
                    22 views | 10 minutes ago
                </div>
        </div>-->
    </div>
</div>
    <!--<div class="sildes">        
        <img src="../img/images/slider2.jpg" id="slide">
        <div class="texto01">
        <b>Funny action of the players in the history of the football</b>
        </div>
        <div class="texto02"> 10 hours ago</div>
        <button class="play"> Play now</button>
    </div>-->
  	<!--<div class="video">
        <img src="../img/images/post3.jpg" class="img"> 
        <div class="time">10:05</div>
        
        
        <div class="personas">
                <img src="../img/images/post4.jpg" class="img">
                <div class="time">10:05</div>
                <div class="texto3"><b>The parade dancers along the city streets</b></div>
                <div class="texto4"> 
                    John Doe
                </div>
                <div class="texto5"> 
                    22 views | 10 minutes ago
                </div>
        </div>
        <div class="personas">
                <div class="texto3"><b> 10 Skills of a prosessional chef</b></div>
                <div class="texto4"> 
                    John Doe
                </div>
                <div class="texto5"> 
                    22 views | 10 minutes ago
                </div>
        </div>
        <img src="../img/images/post5.jpg" class="img"> 
        <img src="../img/images/post6.jpg" class="img">
        <div class="personas">
                <div class="texto3"><b>Conooting</b></div>
                <div class="texto4"> 
                    John Doe
                </div>
                <div class="texto5"> 
                    22 views | 10 minutes ago
                </div>
        </div>
        <div class="personas">
                <div class="texto3"><b> Canooting</b></div>
                <div class="texto4"> 
                    John Doe
                </div>
                <div class="texto5"> 
                    22 views | 10 minutes ago
                </div>
        </div>
        <img src="../img/images/post2.jpg" class="img"> 
        <img src="../img/images/post8.jpg" class="img">
            <div class="personas">
                <div class="texto3"><b>Viral, street artist play music very well</b></div>
                <div class="texto4"> 
                    John Doe
                </div>
                <div class="texto5"> 
                    22 views | 10 minutes ago
                </div>
            </div>
        <div class="personas">
                <div class="texto3"><b> The legendary footballers ever</b></div>
                <div class="texto4"> 
                    John Doe
                </div>
                <div class="texto5"> 
                    22 views | 10 minutes ago
                </div>
        </div>
        <img src="../img/images/post9.jpg" class="img"> 
        <img src="../img/images/post15.jpg" class="img">
        <div class="personas">
            <div class="texto3"><b>10 Soccer player skills in dribble</b></div>
            <div class="texto4"> 
                    John Doe
            </div>
            <div class="texto5"> 
                    22 views | 10 minutes ago
            </div>
        </div>
        <div class="personas">
            <div class="texto3"><b> The fastest men in the history</b></div>
            <div class="texto4"> 
                John Doe
            </div>
            <div class="texto5"> 
                22 views | 10 minutes ago
            </div>
        </div>
    -->
        <div class="media">
        <div class="social">
         	<i class="demo-icon icon-gplus-squared1 ">&#xf0d4;</i>
       	 	<i class="demo-icon icon-instagram1 ">&#xf16d;</i>
         	<i class="demo-icon icon-twitter-squared1 ">&#xf304;</i>
         	<i class="demo-icon icon-facebook-squared1 ">&#xf30e;</i>
        </div>
   </div>
   

 </div>

  </div>
</div>
