<div class="page" data-name="news">
  
	<div class="navbar">
            <div class="navbar-inner">
                <a href="" data panel="left" onclick="showMenu()">
                    <i class="demo-icon icon-menu">&#xf0c9;</i>
                </a>
              <div class="title">MPlay</div>
               <i class="demo-icon icon-search-1">&#xe801;</i>
            </div>
	</div>
<div class="page-content">
	<div class="videos">
       <div class="newvideo"> New Videos</div>
        <div class="video">
            <img src="../img/images/post7.jpg" class="img1">
            <div class="personas1">
                <div class="texto31"><b>Tips and tricks photography</b></div>
                <div class="texto41"> 
                    John Doe
                </div>
                <div class="texto51"> 
                    22 views | 10 minutes ago
                </div>
            </div> 
            <img src="../img/images/post11.jpg" class="img1">
            <div class="personas1">
                <div class="texto31"><b> Healthy and natural food recipes</b></div>
                <div class="texto41"> 
                    John Doe
                </div>
                <div class="texto51"> 
                    22 views | 10 minutes ago
                </div>
            </div>
            <img src="../img/images/post13.jpg" class="img1"> 
            <div class="personas1">
                <div class="texto31"><b>7 haircut trends ever</b></div>
                <div class="texto41"> 
                    John Doe
                </div>
                <div class="texto51"> 
                    22 views | 10 minutes ago
                </div>
            </div>
            <img src="../img/images/post1.jpg" class="img1">            
            <div class="personas1">
                <div class="texto31"><b>Top 5 Trending fashion in 2018</b></div>
                <div class="texto41"> 
                    John Doe
                </div>
                <div class="texto51"> 
                    22 views | 10 minutes ago
                </div>
            </div>
            <img src="../img/images/card1.jpg" class="img1">
            <div class="personas1">
                <div class="texto31"><b>Top 5 best photo spots</b></div>
                <div class="texto41"> 
                    John Doe
                </div>
                <div class="texto51"> 
                    22 views | 10 minutes ago
                </div>
            </div> 
            <img src="../img/images/descarga.jpg" class="img1">
            
            <div class="personas1">
                <div class="texto31"><b>Top 5 most beautiful beaches</b></div>
                <div class="texto41"> 
                    John Doe
                </div>
                <div class="texto51"> 
                    22 views | 10 minutes ago
                </div>
            </div>
            
        </div>

        </div>
   </div>
   <div class="media">
        <div class="social">
         <i class="demo-icon icon-gplus-squared ">&#xf0d4;</i>
        <i class="demo-icon icon-instagram ">&#xf16d;</i>
         <i class="demo-icon icon-twitter-squared ">&#xf304;</i>
         <i class="demo-icon icon-facebook-squared ">&#xf30e;</i>
        </div>
   </div>
</div>
</div>