<div class="page" data-name="search">
  
	<div class="navbar">
            <div class="navbar-inner sliding">
            	<div class="left">
            		<a class="link back">
            			<i class="icon icon-back"></i>
            			<span class="ios-only">Back</span>
            		</a>
            	</div>
              <div class="title">MPlay</div>
              <div class="subnavbar">
		        <!-- Searchbar with auto init -->
		        <div class="searchbar">
		          <div class="searchbar-inner">
		            <div class="searchbar-input-wrap">
		              <input type="search" placeholder="Search" id="search">
		              <i class="searchbar-icon"></i>
		              <span class="input-clear-button"></span>
		            </div>
		            <span class="searchbar-disable-button">Cancel</span>
		          </div>
		        </div>
		      </div>
               <i class="demo-icon icon-search-1">&#xe801;</i>
            </div>
	</div>
	 <div class="page-content">
	 	<div>Search</div>
	 	<div class="list media-list">
  <ul id="list-search">
    
  </ul>
</div>

	 </div>
</div>