<div class="page" data-name="homepages">
  
	<div class="navbar">
            <div class="navbar-inner">
                
              <div class="title">MPlay</div>
              
            </div>
	</div>
<div class="page-content">
	<div class="sign">
        <div class="in">
            <h3> SIGN UP</h3>
            <br>
            <div class="separacion"></div>
        </div>
        <div class="datos">
            <div class="texto">
                <input type="text" name="Username" placeholder="Fullname" id="Fullname">
            </div>
            <div class="texto">
                <input type="text" name="Username" placeholder="Username" id="Username">
            </div>
            <div class="texto">
               <input type="text" name="Username" placeholder="Email" id="Email">
            </div>
            <div class="texto">
                <input type="text" name="Username" placeholder="Password" id="Password">
            </div>
            <div class="texto">
               <input type="text" name="Username" placeholder="Retype the password" id="Repassword">
            </div>
            <button class="col button button button-raised button-fill red" onclick="app.SignupAccess()"> 
        
                <i class="demo-icon icon-paper-plane-empty">&#xf1d9;</i>                
                Sign up
        </button>
        </div>
    </div>
   <div class="easy">
        <div class="titeas">
            Sign in with
        </div>
        <div class="face caja1">
            <i class="demo-icon icon-facebook-squared"></i>
            Facebook
        </div>
        <div class="twitter caja1">
            <i class="demo-icon icon-twitter-squared"></i>
            Twitter
        </div>
        <div class="instagram caja1">
            <i class="demo-icon icon-instagram"></i>
            Instagram
        </div>
        <div class="google caja1">
            <i class="demo-icon icon-gplus-squared"></i>
            +Google
        </div>
    </div>
</div>
</div>